<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway+Dots&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway+Dots&display=swap'); </style>
  <title>Update Barber</title>
</head>
<body>
  <nav>
    <img src="/images/clippers.png">
    <% if (user) { %>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  
  <main>
    <h1>Barbers</h1>

    <h2>Update Barber here:</h2>
    <form action="/barbers/<%= barber._id %>?_method=PUT" method="POST">
        <label>
            Greeting: <br>
            <input type="text" name="greeting" size="50" value="<%= barber.greeting %>"> 
        </label>
        <br><br>
        <label>
            Name: <br>
            <input type="text" name="name" value="<%= barber.name %>">
        </label>
        <br><br>
        <label>
            Phone: <br>
            <input type="tel" name="phone" value="<%= barber.phone %>">
        </label>
        <br><br>
        <label>
            Rates: <br>
            <input type="text" name="rates" value="<%= barber.rates %>">
        </label>
        <br><br>
        <label>
            Availability(Mon-Sun): <br>
            <input type="text" name="avails" value="<%= barber.avails %>">
        </label>
        <br><br>
            Experience: Year(s) <br>
            <input type="number" name="expYrs" value="<%= barber.expYrs %>"> Months <input type="number" name="expMos" value="<%= barber.expMos %>">
        </label>
        <br>
        <br>
        <br>
        <input type="submit" value="Edit Barber">
    </form>
    <br>
    <br>
    <br>
    <form action="/barbers/<%= barber._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Barber</button>
    </form>
    <br>
    <br>
    <a href="/">Home</a>

</main>
</body>

</html>