<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway+Dots&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway+Dots&display=swap'); </style>
  <title>Barber Details</title>
</head>
<body>
  <nav>
    <img src="/images/clippers.png">
    <% if (user) { %>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  
  <main>
    
    <section id="show-page">
        <div>
            <h3><%= barber.greeting %></h3>
        </div>
        <br>
        <div>Name: </div>
        <div>
            <%= barber.name %>
        </div>
        <div>Phone Number: </div>
        <div>
            <%= barber.phone %>
        </div>
        <div>Rates: </div>
        <div>
            <%= barber.rates %>
        </div>
        <div>Availability: </div>
        <div>
            <%= barber.avails %>
        </div>
        <div>Experience(yrs): </div>
        <div>
            <%= barber.expYrs %>
        </div>
    </section>
    <br>
    <br>
    <a href="/barbers/<%= barber._id %>/edit">Update Details</a>
    <br>
    <br>
    <a href="/">Home</a>
</main>
</body>

</html>